@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 2px;
  color: pink;
  background-color: fdfaf6;
}

body,
input {
  color: black;
}

form {
  background-color: #25252a;
}

input,
button {
  font-size: 16px;
}

input {
  letter-spacing: 0px;
}

main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

span.btn {
  margin-bottom: 20px;
}

.giphy-embed {
  width: 100%;
  height: 500px;
  position: relative;
  border: 0px;
}

.btn {
  text-align: center;
  color: white;
  display: block;
  border-radius: 10px;
  transition: ease-out 0.3s;
}

.btn:hover {
  background-color: #1eae98;
}

.message {
  padding: 15px 40px;
  background-color: #11698e;
  box-shadow: 0 7px #19456b;
  cursor: pointer;
}

.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.greeting_section > h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 600;
}

.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#inputBook {
  display: none;
  margin-top: 10px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

#inputBook > h2 {
  text-align: center;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: #11698e;
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section > form > .input > label {
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

button#searchSubmit {
  color: white;
}

#searchBook > h2 {
  text-align: center;
  margin-bottom: 8px;
}

#searchBook {
  display: none;
  margin-top: 10px;
  padding: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.search_section > form > label {
  display: inline;
  align-items: center;
}

.search_section > form > input {
  display: inline;
  width: 70%;
  padding: 5px;
  border-radius: 5px;
}

.search_section > form > button {
  display: inline;
  width: 20%;
  background-color: #11698e;
  padding: 7px;
  border: 0;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 #0aa6e9;
  cursor: pointer;
  transition: ease-out 0.3s;
  outline: none;
}

#searchSubmit:hover {
  box-shadow: inset 150px 0 0 0 #1eae98;
}
.book_shelf {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

#incompleteBookshelfList,
#completeBookshelfList {
  display: none;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #25252a;
  color: pink !important;
}

.book_item {
  background-color: white;
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3,
p {
  padding: 10px;
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
  background-color: darkgreen;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
  background-color: darkred;
  color: white;
}

.bookList {
  margin-bottom: 10px;
}

.bookList > h3 {
  padding: 10px;
}

.finishButton,
.notFinishButton {
  width: 100px;
  height: 30px;
  margin-left: auto;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  display: grid;
  grid-auto-flow: row;
  background-color: green;
  font-size: 12px;
  letter-spacing: 0px;
  text-align: center;
}

.trash-button {
  width: 100px;
  height: 30px;
  margin-left: auto;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  display: grid;
  grid-auto-flow: row;
  background-color: red;
  font-size: 12px;
  letter-spacing: 0px;
  text-align: center;
}
